.cards-wrapper{

    display: flex;

}
.card{
    margin: 0.5em;
    margin-top: 40px;
    width: calc(100%/3);
}
.posAboveCards{
    margin-top: 40px;
    margin-left: 20px;
    background-color: rgba(226, 218, 207, 0.247);
    width: 100%;
}
.icon1{
position: absolute;
width: 50px;
height: 50px;
border-radius: 50%;
top: 6px;
right:100px;

}
.icon2{

position: absolute;
width: 50px;
height: 50px;
border-radius: 50%;
top: 6px;
right:40px;

}
/* cards */
.cards{
     margin-bottom: 20px; 
     margin-top: 200px; 
}
/* end */
/*********************************************************/
.pos_skincare{


     position: absolute;
    top: 140px;
    left :100px;
 }
 
 .pos_cosmetics{
 
 
     position: absolute;
    top: 90px;
    left :100px;
 }
 
 .pos_haircare{
 
 
     position: absolute;
    top: 90px;
    left :100px;
 }
 .pos_medicine{
 
 
     position: absolute;
    top: 90px;
    left :100px;
 }
 /***********************************************/
 /*footer css*/
.navbar_backgroundColor{
     background-color: rgba(104, 202, 109, 0.397);
 }
 .icon3{
 
     position: absolute;
     width: 50px;
     height: 50px;
     border-radius: 50%;
     top: 6px;
     right: 150px;
     padding: 4px;
     }
 
 .img2{
     padding-left: 20px;
 margin-left: 150px;
     width:30%;
     height: fit-content;
     
 }
 
 .text1{
     margin-left:150px ;
 
     padding: 15px;
   width:20%;
   font-size: 10;
     text-align: flex-start;
     display: flex;
      justify-content: center;
      flex-direction: column;
 }
 
 .text{
     width:30%;
     text-align:left;
     padding-left: 15px;
     padding-top: 10px;
 }
 
 
 .flex{
     display: flex;
     height: 160px;
     flex-direction: row;
     align-items: stretch;
     flex-wrap: nowrap;
      /*border-bottom: 2px solid rgba(43, 42, 42, 0.171);*/
 }
 
 .bt{
     position: absolute;
     color:rgb(90, 87, 87);
     background-color: rgb(243, 242, 217);
     right: 12%;
     top:60px;
     width: 100px;
     height: 50px;
     border-bottom-left-radius:10px;
     border-bottom-right-radius: 10px;
     border-top-left-radius: 10px ;
     border-top-right-radius: 10px;
     border-color: rgb(209, 191, 191) ;
      
 }
 button:hover{
     background-color: rgba(136, 133, 133, 0.473);
 
 }
 .endSection{
    /* display: inline-block;*/
 width: 100%;
 background-color: rgba(104, 202, 109, 0.397);
 height: 160px;
 /*margin-block-start: 60px;*/
 position:absolute ;
 bottom: 0;
 
 color:rgb(9, 12, 12);
 border-top-left-radius:20px ;
 border-top-right-radius: 20px;
 }
 #matajer{
    position: absolute;
    left: 40px;
}
.cardsPos{

    position: relative;
   
}
#footer {
    position: relative;
    top: 200px;
    width: 100%;

}
 /* el hagat el etzawedet 3ashan el foooter (end)*/
 
 body{
    background: -webkit-linear-gradient(left, rgb(192, 190, 190), #77917a8e);
}
 
 
 
 
 
 
