.icon1{
position: absolute;
width: 50px;
height: 50px;
border-radius: 50%;
top: 6px;
right:100px;

}
.icon2{

position: absolute;
width: 50px;
height: 50px;
border-radius: 50%;
top: 6px;
right:40px;

}
/* cards */
.cards{
     margin-bottom: 20px; 
     margin-top: 200px; 
}
/* end */
/*********************************************************/
.pos_skincare{


     position: absolute;
    top: 140px;
    left :100px;
 }
 
 .pos_cosmetics{
 
 
     position: absolute;
    top: 90px;
    left :100px;
 }
 
 .pos_haircare{
 
 
     position: absolute;
    top: 90px;
    left :100px;
 }
 .pos_medicine{
 
 
     position: absolute;
    top: 90px;
    left :100px;
 }
 /***********************************************/
 /*footer css*/
.navbar_backgroundColor{
     background-color: rgba(104, 202, 109, 0.397);
 }
 .icon3{
 
     position: absolute;
     width: 50px;
     height: 50px;
     border-radius: 50%;
     top: 6px;
     right: 150px;
     padding: 4px;
     }
 
 .img2{
     padding-left: 20px;
 margin-left: 150px;
     width:30%;
     height: fit-content;
     
 }
 
 .text1{
     margin-left:150px ;
 
     padding: 15px;
   width:20%;
   font-size: 10;
     text-align: flex-start;
     display: flex;
      justify-content: center;
      flex-direction: column;
 }
 
 .text{
     width:30%;
     text-align:left;
     padding-left: 15px;
     padding-top: 10px;
 }
 
 
 .flex{
     display: flex;
     height: 160px;
     flex-direction: row;
     align-items: stretch;
     flex-wrap: nowrap;
      /*border-bottom: 2px solid rgba(43, 42, 42, 0.171);*/
 }
 
 .bt{
     position: absolute;
     color:rgb(90, 87, 87);
     background-color: rgb(243, 242, 217);
     right: 12%;
     top:60px;
     width: 100px;
     height: 50px;
     border-bottom-left-radius:10px;
     border-bottom-right-radius: 10px;
     border-top-left-radius: 10px ;
     border-top-right-radius: 10px;
     border-color: rgb(209, 191, 191) ;
      
 }
 button:hover{
     background-color: rgba(136, 133, 133, 0.473);
 
 }
 .endSection{
    /* display: inline-block;*/
 width: 100%;
 background-color: rgba(104, 202, 109, 0.397);
 height: 160px;
 /*margin-block-start: 60px;*/
 position:absolute ;
 bottom: 0;
 
 color:rgb(9, 12, 12);
 border-top-left-radius:20px ;
 border-top-right-radius: 20px;
 }
 #matajer{
    position: absolute;
    left: 40px;
}
 /* el hagat el etzawedet 3ashan el foooter (end)*/
 /* ---------------------------------------------------------------------- */
 /*------------------------------------*/


/* ------------------------------------------------- */
 /* products */
 .productPicDiv{
    height: 400px;
    width:475px; 
    /* border-style: solid; 
    border-color: rgb(214, 203, 203); */
     margin-left: 300px;
      margin-top: 90px; 
      margin-right: 20px;
       display:inline-block;

 }
 .productImg{
    height:100%;
    width:450; 
    padding-top: 10px;
 }
 .productInfo{
    display: inline-block;
    width: fit-content; 
    /*border-style: solid;
     border-color: rgb(214, 203, 203);  */
    margin-left: 100px;
    height: 450px;
    width:475px; 
    margin-top: 50px; 
    flex: auto;
    max-width: 600px;
    
    
 }

 .wishlistDIV{
    background-color: #cac7c7;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,.1);
    display: inline-block;
    width:35px;
    height:35px;
    text-align:center;
    line-height:45px;

}
#wishlist{
    font-size: 25px;
}
#wishlist:hover{
    color:red;
}
 .addToCart{
    border-radius: 3cm;
    background-color: #e0f3ddf6;
    
 }
 .addToCart:hover{
    background-color: rgb(241, 164, 241);
 }
 .reviewsForm{
    display: inline-block;
    /* float: right; */
 }
 .reviewsComments{
    display: inline-block;
    /* float: left; */
    margin-left:650px;
    margin-right: 250px;
 }
 .heading{
    display:table;
    width: 66%;
    
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 30px;
 }
 .head{
    text-shadow:3px 1px rgb(172, 252, 185);
    overflow: hidden;
    text-align: center;
 }
 .head:before,
 .head:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
.head:before {
    right: 0.5em;
    margin-left: -50%;
  }
.head:after {
    left: 0.5em;
    margin-right: -50%;
  }